.movies {
  width: 100%;
  box-sizing: border-box;
}

.movies__section_notFound {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #f3c1f8;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .movies__section_notFound {
    font-size: 20px;
    line-height: 1.6;
    transition: 0.2s all ease-out;
  }
}
