.navigateHeaderPopup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background: #00000070;
}

.navigateHeaderPopup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  max-width: 520px;
  width: 100%;
  height: 100%;
  padding: 159px 90px 90px;
  transition: 0.2s all ease-out;
  box-sizing: border-box;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .navigateHeaderPopup__container {
    padding: 144px 10px 46px;
    transition: 0.2s all ease-out;
  }
}

.navigateHeaderPopup__close-button {
  background: no-repeat center / 100% url("../../images/close-button.svg")
    transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.navigateHeaderPopup__close-button:hover {
  opacity: 0.8;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .navigateHeaderPopup__close-button {
    top: 13px;
    right: 13px;
    transition: 0.2s all ease-out;
  }
}

.navigateHeaderPopup__links-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.navigateHeaderPopup__link {
  color: #000;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s all ease-out;
  margin-bottom: 28px;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .navigateHeaderPopup__link {
    margin-bottom: 24px;
    transition: 0.2s all ease-out;
  }
}

.navigateHeaderPopup__profile-section {
  display: flex;
  justify-content: center;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}
