.register {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 70px 30px 30px;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .register {
    justify-content: normal;
    padding: 56px 30px 30px;
    transition: 0.2s all ease-out;
  }
}

.register__section {
  max-width: 396px;
  width: 100%;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .register__section {
    max-width: 260px;
    transition: 0.2s all ease-out;
  }
}

.register__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  transition: 0.2s all ease-out;
}

/* top/input/bottom styles (куда их закинуть?)*/
.top__section {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  transition: 0.2s all ease-out;
  margin-bottom: 40px;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .top__section {
    max-width: 260px;
    align-items: center;
    margin-bottom: 80px;
    transition: 0.2s all ease-out;
  }
}

.top__link {
  text-decoration: none;
  transition: 0.2s all ease-out;
}

.top__link:hover {
  opacity: 0.8;
  transition: 0.2s all ease-out;
}

.top__logo {
  margin-bottom: 40px;
}

.top__title {
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  transition: 0.2s all ease-out;
}

.input__section {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.input__label {
  color: #a0a0a0;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
}

.input {
  width: 100%;
  color: #000;
  padding: 0 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.21;
  border: none;
  min-height: 32px;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.input:focus {
  border-bottom: 1px solid #000;
}

.input__error {
  color: #ff4062;
}

.input__error-label {
  color: #ff4062;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  /* opacity: 0; */
  transition: 0.2s all ease-out;
}

.input__error-label:last-child {
  margin-bottom: 0;
}

.input__error-label_active {
  opacity: 1;
  transition: 0.2s all ease-out;
}

.bottom__container {
  max-width: 396px;
  width: 100%;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .bottom__container {
    max-width: 260px;
    margin-top: auto;
    transition: 0.2s all ease-out;
  }
}

.bottom__submit-button {
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-bottom: 16px;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .bottom__submit-button {
    font-size: 12px;
    line-height: 1.25;
    transition: 0.2s all ease-out;
  }
}

.bottom__submit-button:hover {
  opacity: 0.8;
  transition: 0.2s all ease-out;
}

.bottom__section {
  display: flex;
  justify-content: center;
}

.bottom__title {
  color: #a0a0a0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .bottom__title {
    font-size: 12px;
    line-height: 1.25;
    transition: 0.2s all ease-out;
  }
}

.bottom__link {
  color: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .bottom__link {
    font-size: 12px;
    line-height: 1.25;
  }
}

.bottom__link:hover {
  opacity: 0.8;
}
