.login {
  background-color: #fff;
  max-width: 396px;
  width: 100%;
  height: 100vh;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 30px 30px;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 450px) {
  .login {
    max-width: 260px;
    padding: 56px 30px 30px;
    transition: 0.2s all ease-out;
  }
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  transition: 0.2s all ease-out;
}

.login__link {
  transition: 0.2s all ease-out;
}

.login__link:hover {
  opacity: 0.8;
  transition: 0.2s all ease-out;
}
